@model Geographics;
@{
    ViewData["Title"] = "Country";
}

<h2>Countries</h2>

<form class="form" id="person" asp-controller="Country" asp-action="Add" method="post">
    @Html.AntiForgeryToken()
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" id="Name" name="Name" required />
    <input class="btn btn-primary" type="submit" value="Add" />
</form>


<table class="tablePersons">
    <tdead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cities</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (CountryModel cm in Model.CountryList)
        {
            <tr>
                <td>@cm.CountryId</td>
                <td>@cm.Name</td>
                <td>@cm.Cities.Count()</td>
                <td><a href="/Country/Delete?id=@cm.CountryId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>