@model LanguageViewModel;
@{
    ViewData["Title"] = "Languages";
}

<h2>Languages</h2>

<form class="form" id="person" asp-controller="Language" asp-action="Add" method="post">
    @Html.AntiForgeryToken()
    <label asp-for="LanguageToAdd">New language</label>
    <input asp-for="LanguageToAdd" type="text" id="LanguageToAdd" name="LanguageToAdd" required />
    <input class="btn btn-primary" type="submit" value="Add" />
</form>



<table class="tablePersons">
    <tdead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (LanguageModel lm in Model.Languages)
        {
            <tr>
                <td>@lm.LanguageId</td>
                <td>@lm.Name</td>
                <td><a href="/Language/Delete?id=@lm.LanguageId">Remove</a></td>
            </tr>
        }
    </tbody>
</table>