

@{
    Layout = "_Layout";
}

@*@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="EnitityPersons" asp-action="Index">Nu får det fan vara nog</a>.</p>
</div>*@
